.downloads {
  min-block-size: 5dvh;
  overflow-block: auto;
  flex: 1;
}

.downloads ol,
.downloads li {
  flex-direction: column;
}

.downloads ol {
  row-gap: var(--gap-block-size);
}

.downloads li {
  row-gap: var(--small-gap-block-size);
  align-items: normal;
}

.downloads .download-entry {
  display: flex;
}

.downloads .download-entry-name {
  flex: 1;
}

.downloads li progress {
  inline-size: 100%;
  block-size: 1em;
  accent-color: var(--accent-color);
}
.downloads .business-card {
  margin: 36px auto;
  /* width: '99mm';
  height: '69mm'; */
  width: 101mm;
  height: 69mm;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}
.business-card-bg {
  position: absolute;
  /* z-index: -1; */
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
}
.business-card-bg > img {
  width: 377.719px;
  /* height: 256.781; */
  /* height: 69mm; */
}
.downloads .business-card .blids-up, 
.downloads .business-card .blids-down {
  width: 100%;
  position: absolute;
}
.downloads .business-card .blids-up{
  top: 0;
}
.downloads .business-card .blids-down{
  bottom: 0;
}
.downloads .business-card .blids{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.downloads .business-card div .blids div {
  background-color: black;
  border: 1px solid white;
}
.downloads .business-card .blids-up .vertical-blid-left{
  margin-left: 10mm;
  width: 3px;
  height: 7mm;
}
.downloads .business-card .blids-up .vertical-blid-right{
  margin-right: 10mm;
  width: 3px;
  height: 7mm;
}
.downloads .business-card .blids-up .horizon-blid-left{
  margin-top: 4px;
  margin-left: 0mm;
  width: 8mm;
  height: 3px;
}
.downloads .business-card .blids-up .horizon-blid-right{
  margin-top: 4px;
  margin-right: 0mm;
  width: 8mm;
  height: 3px;
}

.downloads .business-card .blids-down .vertical-blid-left{
  margin-left: 10mm;
  /* margin-left: 6mm; */
  width: 3px;
  height: 7mm;
}
.downloads .business-card .blids-down .vertical-blid-right{
  margin-right: 10mm;
  /* margin-right: 6mm; */
  width: 3px;
  height: 7mm;
}
.downloads .business-card .blids-down .horizon-blid-left{
  /* margin-bottom: 4mm; */
  margin-bottom: 4px;
  margin-left: 0mm;
  width: 8mm;
  height: 3px;
}
.downloads .business-card .blids-down .horizon-blid-right{
  margin-bottom: 4px;
  /* margin-bottom: 4mm; */
  margin-right: 0mm;
  width: 8mm;
  height: 3px;
}
.card-details{
  position: absolute;
  left: 48px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 54px 0px;
}
.card-detail{
  /* position: absolute; */
  display: block;
  margin: 0;
}
.card-detail:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}